
#lezioni .container img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni,
#steps,
#why{
  text-align: center;
  margin-top: 80px;
}

/* BLOCCO PERCHE */

#why .container [class*="col-"] {
  margin-top: 80px;
}

#why .container img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */

.container-s.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

@media all and (min-width: 768px) and (max-width:991px){
  .padding-md{
    padding: 0 15px;
  }
}

@media screen and (max-width:768px) {
 
  #lezioni .container [class*="col-"],
  #steps .container [class*="col-"] {
    font-size:75%;
  }
 
  #lezioni .container,
  #why .container{
    background-color:#F2F2CD ;
  } 
 
  #lezioni,
  #steps,
  #why{
    margin: 0px;
  }
 
  h1, .container{
   width: 100%;
   margin-top: 0px;
  }
 
  img{
    height: 80px;
    margin: 15px 0px 0px;
  }
 
  #steps .container{
    background-color: #FFFFFF;
  }
  
  #why .container [class*="col-"]{
   margin-top: 0px;
   font-size: 76%;
  }
 
  #why .container img{
    padding: 10px;
  }
 
  hr{
    width: 96%;
    margin:auto;
  }
 
  .container [class*="col-"]{
    padding-bottom: 5px;
  }
 }
